* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: 2rem;
  color: rgb(200, 99, 99);
}

box-body, box table{
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

table, tbody{
  width: 100%;
    display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  gap: 2rem;
}

 thead {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

tr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td {
  width: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
}

.table-action{
  display: flex;
  gap: .5rem;
}