<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Mind Cursos</h1>
    </header>
    <main class="main">
      <form class="form-login" method="get" action="#" style="width: 450px">
        <label for="select">Escolha o tipo de usuário:</label>
        <select name="tipo-usuario" id="tipo-usuario">
            
            <option value="Professor">Professor</option>
            <option>Aluno</option>
        <select>
        <input
          type="email"
          name="email"
          placeholder="Digite seu email"
        />
        <input type="password" name="password" placeholder="Senha" />
        <button type="submit">Login</button>
        <div class="">
          <p>
            Não tem uma conta? <a href=""><b>Cadastre-se</b></a>
          </p>
        </div>
      </form>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
